<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="seasar" type="Seasar.Framework.Xml.S2SectionHandler,Seasar" />
    </configSections>
	
    <seasar>
        <configPath>App.dicon</configPath>
    </seasar>

  <system.web>

    <compilation defaultLanguage="c#" debug="true" />

    <customErrors mode="RemoteOnly" /> 

    <authentication mode="Windows" /> 

    <authorization>
        <allow users="*" />
    </authorization>

    <trace enabled="false" requestLimit="10" pageOutput="false"
        traceMode="SortByTime" localOnly="true" />

    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424"
        sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
        scookieless="false" timeout="20" />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
   
    <httpModules>
	    <add name="S2HttpModule"
	        type="Seasar.Framework.Container.Web.S2HttpModule, Seasar" />
    </httpModules>
   
 </system.web>

</configuration>
