<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="seasar" type="Seasar.Framework.Xml.S2SectionHandler, Seasar" />
    <section name="quill" type="Seasar.Quill.Xml.QuillSectionHandler, Seasar.Quill"/>
  </configSections>

  <connectionStrings>
    <!-- SQLServer用の既定データソース？障害になるので取り除いておく -->
    <remove name="LocalSqlServer"/>
    <add name="providerEx" connectionString="Server=(local);database=s2dotnetdemo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="provider" connectionString="Server=(local);database=s2dotnetdemo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="message" value="Hello" />
  </appSettings>

  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d [%t] %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
      <dependentAssembly>
        <assemblyIdentity name="MbUnit.Framework" publicKeyToken="5e72ecd30bc408d5" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.999.999.999" newVersion="1.0.2445.37068"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <seasar>
    <configPath>Seasar.Tests.test.dicon</configPath>
    <assemblys>
      <assembly>Seasar.Tests</assembly>
      <assembly>Seasar</assembly>
      <assembly>Seasar.DynamicProxy</assembly>
      <assembly>Seasar.Dao</assembly>
      <assembly>Seasar.Dxo</assembly>
      <!-- DB2 .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>IBM.Data.DB2, version=8.1.2.1, Culture=neutral, PublicKeyToken=7c307b91aa13d208</assembly>
      -->
      <!-- MySQL Connector Net を使用する場合に必要です。 -->
      <!-- 
      <assembly>MySql.Data, version=1.0.6.15336, Culture=neutral, PublicKeyToken=c5687fc88969c44d</assembly>
      -->
      <!-- .NET Framework Data Provider for Oracle を使用する場合に必要です。 -->
      <!--
      <assembly>System.Data.OracleClient, version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</assembly>
      -->
      <!-- Oracle Data Provider for .NET を使用する場合に必要です。 -->
      <!--
      <assembly>Oracle.DataAccess, version=10.2.0.100, Culture=neutral, PublicKeyToken=89b483f429c47342</assembly>
      -->
      <!-- Firebird .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>FirebirdSql.Data.Firebird, Version=1.7.0.1, Culture=neutral, PublicKeyToken=fa843d180294369d</assembly>
      -->
      <!-- PostgreSQL .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>Npgsql, Version=0.7.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7</assembly>
      -->
    </assemblys>
  </seasar>
  
  <!-- ここに記述してあったQuillに設定はSeasar.Quill.dll.configに移行しました(2008.07.31) -->
</configuration>
