<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="seasar" type="Seasar.Framework.Xml.S2SectionHandler, Seasar" />
    <section name="quill" type="Seasar.Quill.Xml.QuillSectionHandler, Seasar.Quill"/>
  </configSections>

  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="providerEx" connectionString="Server=(local);database=s2dotnetdemo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="provider" connectionString="Server=(local);database=s2dotnetdemo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="message" value="Hello" />
  </appSettings>

  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d [%t] %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
      <dependentAssembly>
        <assemblyIdentity name="MbUnit.Framework" publicKeyToken="5e72ecd30bc408d5" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.999.999.999" newVersion="1.0.2445.37068"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <seasar>
    <configPath>Seasar.Tests.test.dicon</configPath>
    <assemblys>
      <assembly>Seasar.Tests</assembly>
      <assembly>Seasar</assembly>
      <assembly>Seasar.DynamicProxy</assembly>
      <assembly>Seasar.Dao</assembly>
      <assembly>Seasar.Dxo</assembly>
      <!-- DB2 .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>IBM.Data.DB2, version=8.1.2.1, Culture=neutral, PublicKeyToken=7c307b91aa13d208</assembly>
      -->
      <!-- MySQL Connector Net を使用する場合に必要です。 -->
      <!-- 
      <assembly>MySql.Data, version=1.0.6.15336, Culture=neutral, PublicKeyToken=c5687fc88969c44d</assembly>
      -->
      <!-- .NET Framework Data Provider for Oracle を使用する場合に必要です。 -->
      <!--
      <assembly>System.Data.OracleClient, version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</assembly>
      -->
      <!-- Oracle Data Provider for .NET を使用する場合に必要です。 -->
      <!---->
      <assembly>Oracle.DataAccess, version=10.2.0.100, Culture=neutral, PublicKeyToken=89b483f429c47342</assembly>
      
      <!-- Firebird .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>FirebirdSql.Data.Firebird, Version=1.7.0.1, Culture=neutral, PublicKeyToken=fa843d180294369d</assembly>
      -->
      <!-- PostgreSQL .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>Npgsql, Version=0.7.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7</assembly>
      -->
    </assemblys>
  </seasar>

  <quill>
    <!-- S2Dao設定 -->
    <daoSetting>TypicalDaoSetting</daoSetting>
    <!-- トランザクション設定 -->
    <transactionSetting>TypicalTransactionSetting</transactionSetting>

    <!-- ロードするアセンブリ名 -->
    <assemblys>
      <assembly>Seasar.Tests</assembly>
      <assembly>Seasar.Dxo</assembly>
      <!-- DB2 .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>IBM.Data.DB2, version=8.1.2.1, Culture=neutral, PublicKeyToken=7c307b91aa13d208</assembly>
      -->
      <!-- MySQL Connector Net を使用する場合に必要です。 -->
      <!-- 
      <assembly>MySql.Data, version=1.0.6.15336, Culture=neutral, PublicKeyToken=c5687fc88969c44d</assembly>
      -->
      <!-- .NET Framework Data Provider for Oracle を使用する場合に必要です。 -->
      <!--
      <assembly>System.Data.OracleClient, version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</assembly>
      -->
      <!-- Oracle Data Provider for .NET を使用する場合に必要です。 -->
      <!--
      <assembly>Oracle.DataAccess, version=10.2.0.100, Culture=neutral, PublicKeyToken=89b483f429c47342</assembly>
      -->
      <!-- Firebird .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>FirebirdSql.Data.Firebird, Version=1.7.0.1, Culture=neutral, PublicKeyToken=fa843d180294369d</assembly>
      -->
      <!-- PostgreSQL .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>Npgsql, Version=0.7.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7</assembly>
      -->
    </assemblys>
    
    <!-- データソース設定 -->
    <dataSources>
      <!-- SQLServer  -->
      <!---->
      <dataSource name="Hoge1">
        <provider>SqlServer</provider>
        <connectionString>"Server=localhost;database=s2dotnetdemo;Integrated Security=SSPI"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      
      <!-- Oracle -->
      <!-- 
      <dataSource name="Hoge1">
        <provider>ODP</provider>
        <connectionString>"Data Source=ORCL;User ID=s2dotnetdemo;Password=s2dotnetdemo"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      -->
      <!-- その他テスト用データソース ++++++++++++++++++++++++++++++++++++++++++++ -->
      <dataSource name="Hoge2">
        <provider>Oracle</provider>
        <connectionString>"(local)\Hoge2"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      <dataSource name="Hoge3">
        <provider>ODP</provider>
        <connectionString>"(local)\Hoge3"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      <dataSource name="Hoge4">
        <provider>MySQL</provider>
        <connectionString>"(local)\Hoge4"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      <dataSource name="Hoge5">
        <provider>DB2</provider>
        <connectionString>"(local)\Hoge5"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      <dataSource name="Hoge6">
        <provider>PostgreSQL</provider>
        <connectionString>"(local)\Hoge6"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      <dataSource name="Hoge7">
        <provider>OleDb</provider>
        <connectionString>"(local)\Hoge7"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
      <dataSource name="HogeX">
        <provider>SqlServer</provider>
        <connectionString>Seasar.Tests.Quill.DummyConnectionString</connectionString>
        <class>Seasar.Extension.ADO.Impl.DataSourceImpl</class>
      </dataSource>
    </dataSources>
  </quill>

</configuration>
