<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="seasar" type="Seasar.Framework.Xml.S2SectionHandler, Seasar" />
  </configSections>

  <connectionStrings>
    <!--
    <add name="provider" connectionString="Server=localhost\\SQLEXPRESS;database=s2dotnetdemo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    -->
    <add name="provider" connectionString="Server=(local);database=s2dotnetdemo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d [%t] %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d [%t] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <seasar>
    <assemblys>
      <assembly>Seasar.Dao</assembly>
      <!-- DB2 .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>IBM.Data.DB2, version=9.0.0.1, Culture=neutral, PublicKeyToken=7c307b91aa13d208</assembly>
      -->
      <!-- MySQL Connector Net を使用する場合に必要です。 -->
      <!--
      <assembly>MySql.Data, version=5.2.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d</assembly>
      -->
      <!-- .NET Framework Data Provider for Oracle を使用する場合に必要です。 -->
      <!--
      <assembly>System.Data.OracleClient, version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</assembly>
      -->
      <!-- Oracle Data Provider for .NET を使用する場合に必要です。 -->
      <!--
      <assembly>Oracle.DataAccess, version=2.111.6.0, Culture=neutral, PublicKeyToken=89b483f429c47342</assembly>
      -->
      <!-- Firebird .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>FirebirdSql.Data.FirebirdClient, Version=2.1.0.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c</assembly>
      -->
      <!-- PostgreSQL .NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>Npgsql, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7</assembly>
      -->
      <!-- SQLite.NET Data Provider を使用する場合に必要です。 -->
      <!--
      <assembly>System.Data.SQLite, Version=1.0.60.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139</assembly>
      -->
    </assemblys>
    <configPath>Seasar.Dao.Examples/Examples.dicon</configPath>
  </seasar>
</configuration>
