<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <quill>
    <!-- S2Dao設定 -->
    <daoSetting>HogeDaoSetting</daoSetting>
    <!-- トランザクション設定 -->
    <transactionSetting>HogeTxSetting</transactionSetting>

    <!-- ロードするアセンブリ名 -->
    <assemblys>
      <assembly>Hoge</assembly>
      <assembly>Huga</assembly>
      <assembly>Hogo</assembly>
    </assemblys>

    <!-- データソース設定 -->
    <dataSources>
      <dataSource name="ds_name1">
        <provider>pv1</provider>
        <connectionString>cs1</connectionString>
        <class>ds1</class>
      </dataSource>
      <dataSource name="ds_name2">
        <provider>pv2</provider>
        <connectionString>cs2</connectionString>
        <class>ds2</class>
      </dataSource>
      <dataSource name="ds_name3">
        <provider>pv3</provider>
        <connectionString>cs3</connectionString>
        <class>ds3</class>
      </dataSource>
    </dataSources>
  </quill>
</configuration>