<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <quill>
    <!-- データソース設定 -->
    <dataSources>
      <!-- SQLServer  -->
      <!---->
      <dataSource name="NoDataSource">
        <provider>SqlServer</provider>
        <connectionString>"Server=localhost\SQLEXPRESS;database=s2dotnetdemo;Integrated Security=SSPI"</connectionString>
        <class>NotExists</class>
      </dataSource>
    </dataSources>
  </quill>
</configuration>