<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <quill>
    <!-- S2Dao設定 -->
    <!-- Dao設定はない -->
    <!-- トランザクション設定 -->
    <transactionSetting>Seasar.Tests.Quill.TxSetting4Test</transactionSetting>

    <!-- ロードするアセンブリ名 -->
    <assemblys>
      <assembly>Seasar.Tests</assembly>
      <assembly>Seasar.Dxo</assembly>
    </assemblys>

    <!-- データソース設定 -->
    <dataSources>
      <!-- SQLServer  -->
      <!---->
      <dataSource name="Hoge1">
        <provider>SqlServer</provider>
        <connectionString>"Server=localhost\SQLEXPRESS;database=s2dotnetdemo;Integrated Security=SSPI"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
    </dataSources>
  </quill>
</configuration>